.cta {
    padding: 4rem 3.5rem 4rem 3.5rem;
    background-color: #FFEAEA;
    text-align: center;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
}
.cta_text {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    @media (max-width: 768px) {
        white-space: pre-line;
    }
    @media (min-width: 769px) {
        white-space: nowrap;
    }
}
a.cta_button {
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #0271E0;
    display: flex;
    width: 30.5rem;
    height: 6.9rem;
    align-items: center;
    justify-content: center;
    border-radius: 3.5rem;
    margin-inline: auto;
    @media (min-width: 768px) {
        font-size: 2.4rem;
    }
}