.three_point {
    padding: 0 1.6rem 3.6rem 1.6rem;
} 
.three_point_container {
    // padding-bottom: 3.6rem;
    h2.three_point_title {
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-size: 2.8rem;
        margin-bottom: 1.7rem;

        span.three {
            color: #F11F8D;
            font-size: 4rem;
            font-weight: 800;
            font-family: poppins;
        }
    }
    @media (min-width: 768px) {
        h2.three_point_title {
            margin-bottom: 3.2rem;
            font-size: 3.6rem; // 768px以上の場合のフォントサイズ
            font-weight: bold;    
            span.three {
                font-size: 5.4rem; // 768px以上の場合のフォントサイズ
            }
        }
    }

    .point {
        // padding: 0 1.6rem 3.6rem 1.6rem;

        .point_text_container {
            p.point_number {
                font-size: 2.4rem;
                font-family: poppins;
                font-weight: 700;
                color: #F11F8D;
                font-style: italic;
                span.no {
                    font-size: 3.6rem;
                }
            }  // .point_number
            h3.point_title {
                font-size: 2rem;
                margin-bottom: 1.2rem;
            }
            p.point_description {
                font-size: 1.6rem;
            }
        }  // .point_text_container
    }
    @media (min-width: 768px) {
        .point {
            padding: 0;
            display: flex;
            // max-width: 116rem;
            width: 116rem;
            margin-left: auto;
            margin-right: auto;
            // gap: 4rem;
            margin-bottom: 4.8rem;
            justify-content: space-between;
        }
            .point:last-of-type {
                margin-bottom: 0;
            }
            .point_text_container {
                width: 56rem;
                p.point_number {
                    font-size: 2.8rem;
                    span.no {
                        font-size: 4.2rem;
                    }
                }  // .point_number
                h3.point_title {
                    font-size: 2.4rem;
                }
            }  // .point_text_container
    }
    .point.point_reverse {
        // padding: 0 1.6rem 3.6rem 1.6rem;

        .point_text_container {
            p.point_number {
                font-size: 2.4rem;
                font-family: poppins;
                font-weight: 700;
                color: #F11F8D;
                font-style: italic;
                span.no {
                    font-size: 3.6rem;
                }
            }  // .point_number
            h3.point_title {
                font-size: 2rem;
            }
            p.point_description {
                font-size: 1.6rem;
            }
        }  // .point_text_container
    }
    @media (min-width: 768px) {
        .point.point_reverse {
            padding: 0;
            flex-direction: row-reverse;
            // max-width: 116rem;
            width: 116rem;
            margin-left: auto;
            margin-right: auto;
            // gap: 4rem;
            .point_text_container {
                p.point_number {
                    font-size: 2.8rem;
                    span.no {
                        font-size: 4.2rem;
                    }
                }  // .point_number
                h3.point_title {
                    font-size: 2.4rem;
                }
                p.point_description {
                    font-size: 1.6rem;
                }
            }  // .point_text_container
        }
    }
}  //.three_point_container
@media (min-width: 768px) {
    .three_point_container {
        padding-bottom: 7.2rem;
        padding-top: 7.2rem;
    }
}
.point_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 1.2rem;
    width: 100%;
    margin-bottom: 0.8rem;
}
@media (min-width: 768px) {
    .point_image {
        width: 56rem;
        margin-left: 0;
        margin-right: 0;
    }
}