.three_point_container {
    h2.three_point_title {
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-size: 2.8rem;

        span.three {
            color: #F11F8D;
            font-size: 4rem;
            font-weight: 800;
            font-family: poppins;
        }
    }

    .point {
        padding: 0 1.6rem 3.6rem 1.6rem;

        .point_text_container {
            p.point_number {
                font-size: 2.4rem;
                font-family: poppins;
                font-weight: 700;
                color: #F11F8D;
                font-style: italic;
                span.no {
                    font-size: 3.6rem;
                }
            }  // .point_number
            h3.point_title {
                font-size: 2rem;
            }
            p.point_description {
                font-size: 1.6rem;
            }
        }  // .point_text_container
    }
    @media (min-width: 768px) {
        .point {
            display: flex;
            max-width: 116rem;
            margin-left: auto;
            margin-right: auto;
            gap: 4rem;
            .point_text_container {
                p.point_number {
                    font-size: 2.8rem;
                    span.no {
                        font-size: 4.2rem;
                    }
                }  // .point_number
                h3.point_title {
                    font-size: 2.4rem;
                }
            }  // .point_text_container
        }
    }
    .point.point_reverse {
        padding: 0 1.6rem 3.6rem 1.6rem;

        .point_text_container {
            p.point_number {
                font-size: 2.4rem;
                font-family: poppins;
                font-weight: 700;
                color: #F11F8D;
                font-style: italic;
                span.no {
                    font-size: 3.6rem;
                }
            }  // .point_number
            h3.point_title {
                font-size: 2rem;
            }
            p.point_description {
                font-size: 1.6rem;
            }
        }  // .point_text_container
    }
    @media (min-width: 768px) {
        .point.point_reverse {
            flex-direction: row-reverse;
            max-width: 116rem;
            margin-left: auto;
            margin-right: auto;
            gap: 4rem;
            .point_text_container {
                p.point_number {
                    font-size: 2.8rem;
                    span.no {
                        font-size: 4.2rem;
                    }
                }  // .point_number
                h3.point_title {
                    font-size: 2.4rem;
                }
                p.point_description {
                    font-size: 1.6rem;
                }
            }  // .point_text_container
        }
    }
}  //.three_point_container
.point_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 1.2rem;
}
@media (min-width: 768px) {
    .point_image {
        width: 50%;
    }
}