@charset "UTF-8";
/* レスポンシブなフォントサイズの設定
------------------------------------------ */
html {
  font-size: 2.6666666667vw;
  /* SP表示:横幅375px未満 */
}

@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
    /* PC表示:横幅768px以上 */
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
    /* 画面の横幅が1200px以上の場合 */
  }
}
/* ページ全体のスタイル
------------------------------------------ */
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ffffff;
  height: 7rem;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 0 1rem;
}

.header_logo_image {
  width: 16.6rem;
  height: 3.4rem;
}

/*----------------------------
  * メニュー開閉ボタン
  *----------------------------*/
.header_menu_button {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #005bac;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}

.header_menu_icon {
  width: 3rem;
  height: 2.625rem;
}

/*----------------------------
  * メニュー本体
  *----------------------------*/
.header_nav {
<<<<<<< HEAD
  display: none;
=======
>>>>>>> 706811c178887cc9b84f513734654b475eeeaf79
  position: absolute;
  top: 7rem;
  right: 0;
  pointer-events: none;
  transition: opacity 0.3s linear;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #005bac;
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> 706811c178887cc9b84f513734654b475eeeaf79
}

/*----------------------------
  * ドロワーメニュー
*----------------------------*/
/*----------------------------
<<<<<<< HEAD
  * メニュー先頭に矢印画像設置
*----------------------------*/
/*----------------------------
  * メニュー先頭画像設置
*----------------------------*/
.header_menu_link::before {
  content: "";
  background-size: cover;
  background-image: url("/assets/image/arrow-right.svg");
  background-repeat: no-repeat;
  margin-right: 0.5rem;
  width: 1.4rem;
  height: 1.2rem;
  background-position: center;
  display: block;
  margin-top: 0.2rem;
=======
  * メニュー先頭画像設置
*----------------------------*/
.header_menu_link::before {
  content: url("/assets/image/arrow-right.png");
  display: inline-block;
  margin-right: 5px;
>>>>>>> 706811c178887cc9b84f513734654b475eeeaf79
}

/*----------------------------
  * メニュー本体
*----------------------------*/
<<<<<<< HEAD
.header_nav {
  padding: 0 2rem 3.2rem 2rem;
=======
nav.header_nav {
  padding: 2rem 2rem 3.2rem 2rem;
>>>>>>> 706811c178887cc9b84f513734654b475eeeaf79
  width: 100%;
}

ul.header_menu {
  width: 100%;
}

.header_menu_link {
  font-size: 1.8rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 0.1rem solid #80add5;
  width: 100%;
}

a.header_entry_botton {
  font-size: 1.8rem;
  color: #005bac;
  display: block;
  width: 100%;
  padding: 2rem;
  margin-top: 3.2rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 3.3rem;
}

/*----------------------------
  *  画面幅が768px以上のときに適用されるスタイル（PC表示） 
  *----------------------------*/
/* 画面の横幅が768px以上の場合 */
@media screen and (min-width: 768px) {
  .header_nav {
    display: block;
  }
  .header_menu_button {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */