@charset "UTF-8";
/* レスポンシブなフォントサイズの設定
------------------------------------------ */
html {
  font-size: 2.6666666667vw;
  /* SP表示:横幅375px未満 */
}

@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
    /* PC表示:横幅768px以上 */
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
    /* 画面の横幅が1200px以上の場合 */
  }
}
/* ページ全体のスタイル
------------------------------------------ */
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ffffff;
}

.header_container {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .header_container {
    height: 10.1rem;
    max-width: 116rem;
  }
}

.header_logo_image {
  width: 16.6rem;
  height: 3.4rem;
}
@media screen and (min-width: 768px) {
  .header_logo_image {
    width: 24.1rem;
    height: 4.5rem;
  }
}

/*----------------------------
  * メニュー開閉ボタン
  *----------------------------*/
.header_menu_button {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #005bac;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
}

.header_menu_icon {
  width: 3rem;
  height: 2.625rem;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.header_nav {
  display: none;
  position: fixed;
  top: 7rem;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #005bac;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* アニメーション後のメニューの状態 */
.header_nav.is-active {
  pointer-events: auto;
  opacity: 1;
}

/*----------------------------
  * ドロワーメニュー
*----------------------------*/
/*----------------------------
  * メニュー先頭画像設置
*----------------------------*/
.header_menu_link::before {
  content: "";
  background-size: cover;
  background-image: url("/assets/image/arrow-right.svg");
  background-repeat: no-repeat;
  margin-right: 0.5rem;
  width: 1.4rem;
  height: 1.2rem;
  background-position: center;
  display: block;
  margin-top: 0.2rem;
}
@media screen and (min-width: 768px) {
  .header_menu_link::before {
    display: none;
  }
}

/*-------------------------------------
  * ドロワーメニューのレイアウト設定
*------------------------------------*/
.header_nav {
  padding: 0 2rem 3.2rem 2rem;
}
@media screen and (min-width: 768px) {
  .header_nav {
    padding: unset;
    position: unset;
    background-color: #ffffff;
    flex-direction: unset;
    gap: 4.8rem;
  }
}

ul.header_menu {
  width: 100%;
}
@media screen and (min-width: 768px) {
  ul.header_menu {
    width: unset;
    display: flex;
    gap: 4.8rem;
  }
}

.header_menu_link {
  font-size: 1.8rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 0.1rem solid #80add5;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header_menu_link {
    font-size: 2rem;
    color: initial;
    display: block;
    padding-bottom: unset;
    padding-top: unset;
    border-bottom: none;
    width: unset;
  }
}

a.header_entry_botton {
  font-size: 1.8rem;
  color: #005bac;
  display: block;
  width: 100%;
  padding: 2rem;
  margin-top: 3.2rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 3.3rem;
}
@media screen and (min-width: 768px) {
  a.header_entry_botton {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
    padding: unset;
    margin-top: unset;
    background-image: linear-gradient(to right, #0271e0, #53a2f0);
    width: 28.2rem;
    height: 6.1rem;
  }
}

/*----------------------------
*  画面幅が768px以上のときに適用されるスタイル（PC表示） 
*----------------------------*/
/* 画面の横幅が768px以上の場合 */
@media screen and (min-width: 768px) {
  .header_nav {
    display: flex;
    opacity: 1;
    pointer-events: auto;
  }
  .header_menu_button {
    display: none;
  }
}
/*----------------------------
*  ここまでがSP完成 
*----------------------------*/
.cover {
  background-image: url(/assets/image/top_pc.jpg);
}
@media (max-width: 768px) {
  .cover {
    background-image: url(/assets/image/top_sp.jpg);
  }
}/*# sourceMappingURL=main.css.map */